.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

/*.dialogsItems .active{color: red}*/

.dialogsItems img {
    height: 20px;
    width: 20px
}


/*.dialog{}*/


.messages {
    padding: 10px;


}


